<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Химический калькулятор</title>
    <link rel="stylesheet" href="{{ url_for(filename='style.css') }}">
</head>
<body>

    <button class="theme-toggle-button" onclick="toggleTheme()">Темная тема</button>

    <div class="container">
        <div class="left-panel">
            <form id="calc-form">
                <input type="text" id="substance" name="substance">
                <label for="hide_base_ingredients">
                    <input type="checkbox" id="hide_base_ingredients" onchange="calculate()">
                    Показать все уровни
                </label>
                <label for="quantity">Количество:</label>
                <input type="number" id="quantity" name="quantity" value="0" onkeydown="handleKeyDown(event)">
                <div class="quantity-control">
                    <div class="quantity-buttons">
                        <div class="quantity-buttons2">
                            <button type="button" onclick="changeQuantity(-1)">-1</button>
                            <button type="button" onclick="changeQuantity(-5)">-5</button>
                            <button type="button" onclick="changeQuantity(-10)">-10</button>
                            <button type="button" onclick="changeQuantity(-20)">-20</button>
                            <button type="button" onclick="changeQuantity(-50)">-50</button>
                            <button type="button" onclick="changeQuantity(-100)">-100</button>
                            <button type="button" onclick="changeQuantity(100)">+100</button>
                            <button type="button" onclick="changeQuantity(50)">+50</button>
                            <button type="button" onclick="changeQuantity(20)">+20</button>
                            <button type="button" onclick="changeQuantity(10)">+10</button>
                            <button type="button" onclick="changeQuantity(5)">+5</button>
                            <button type="button" onclick="changeQuantity(1)">+1</button>
                        </div>
                        <div class="result-class">
                            <pre id="result"></pre>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="right-panel">
            <!-- Placeholder for future content -->
        </div>
    </div>

    <div class="bottom-panel">
        <div id="recipe_buttons" class="recipe-buttons-container">
            {% for recipe_type, recipes in recipes_by_type.items() %}
                <h2>{{ recipe_type }}</h2>
                {% for recipe in recipes %}
                    <button type="button" class="recipe-button" onclick="selectRecipe('{{ recipe }}')">{{ recipe }}</button>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <script>
        function selectRecipe(recipe) {
            document.getElementById('substance').value = recipe;
            calculate();
        }

        function calculate() {
            const substance = document.getElementById('substance').value;
            const quantity = document.getElementById('quantity').value;
            const includeSublevels = document.getElementById('hide_base_ingredients').checked;

            fetch('/calculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ substance, quantity, includeSublevels })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = data.result;
            });
        }

        function changeQuantity(amount) {
            const quantityInput = document.getElementById('quantity');
            let currentQuantity = parseInt(quantityInput.value) || 0;
            currentQuantity += amount;
            if (currentQuantity < 0) currentQuantity = 0;
            quantityInput.value = currentQuantity;
            calculate();
        }

        function handleKeyDown(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Предотвращает отправку формы при нажатии Enter
                calculate();
            }
        }

        function toggleTheme() {
            const body = document.body;
            const button = document.querySelector('.theme-toggle-button');
            body.classList.toggle('dark-theme');
            if (body.classList.contains('dark-theme')) {
                button.textContent = 'Светлая тема';
                button.classList.add('dark');
            } else {
                button.textContent = 'Темная тема';
                button.classList.remove('dark');
            }
        }
    </script>
</body>
</html>
