body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.quantity-buttons2 {
    display: flex;
    flex-direction: column;
}

.quantity-buttons button {
    width: 50px;
    height: 30px;
    margin: 2px 0;
}

#recipe_buttons {
    margin-bottom: 20px;
}

.recipe-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #f0f0f0;
    cursor: pointer;
}

.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme input,
.dark-theme button,
.dark-theme select,
.dark-theme textarea,
.dark-theme pre {
    background-color: #171717;
    color: #e0e0e0;
    border: 1px solid #444;
}

.container {
    display: flex;
    padding: 20px;
}

.left-panel {
    flex: 1;
    padding: 10px;
}

.recipe-panel {
    flex: 1;
    padding: 10px;
}

.bottom-panel {
    padding: 10px;
}

.recipe-button {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.recipe-buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.recipe-buttons-container h2 {
    width: 100%;
    margin-top: 10px;
}

.theme-toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.theme-toggle-button.dark {
    background-color: #444;
}

.recipe-button:hover {
    background-color: #ddd;
}

.panels {
    display: flex;
    flex-direction: row;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
